/* General app styling */
body {
    background-color: #f2f9f2;
    font-family: 'Arial', sans-serif;
}

.stTextInput, .stButton {
    margin-bottom: 20px;
}

.stTextInput textarea {
    background-color: #ffffff;
    border: 1px solid #c7e2c7;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    height: 400px;
    width: 80% !important;
}

.stButton button {
    background-color: #7edc7e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.stButton button:hover {
    background-color: #6ecb6e;
}

.stTitle {
    color: #7edc7e;
    font-size: 32px;
}

.stMarkdown p {
    color: #7edc7e;
}

/* Sidebar styling */
.css-18e3th9 {
    background-color: #f2f9f2;
}

.css-1d391kg {
    background-color: #f2f9f2;
}

/* Custom header styling */
header {
    background-color: #7edc7e;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

header h1 {
    margin: 0;
    color: white;
}

/* Textarea input styling */
textarea {
    background-color: #ffffff;
    border: 1px solid #c7e2c7;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

/* Button styling */
button {
    background-color: #1ac01a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #6ecb6e;
}

/* Output box styling */
.stTextArea.stTextAreaOutput {
    background-color: #043f1d;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    height: 400px;
    width: 80% !important;
}
